.button {
    background-color: #ffc700;
    color: black;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  
  .button:hover {
    background-color: gray; 
  }

  .notification {
    position: absolute;
    bottom: 600px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
   
    border-radius: 5px;
    z-index: 99999999;
  }
  
  
  
  .notification .item-info {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .notification .item-name {
    text-decoration: underline;
  }
  
  .notification .item-quantity {
    margin-left: 10px;
  }
  
  .notification .item-subtotal {
    margin-left: 10px;
  }
  

  .pricetag {
    font-weight: bolder;
    font-size: xx-large;
  }